# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# Pytest cache
.pytest_cache/
.cache/

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/
